<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/tasks">Tasks</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="onLogout()">Logout</button>
                </li>
                
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row mt-2">
        <div class="alert alert-primary my-2">
            Welcome to your task dashboard
        </div>
    </div>
</div>

<router-outlet></router-outlet>